<mat-toolbar color="primary">
    <a [routerLink]="['/messages']" class="navbar-brand nav-link mr-10">Message Board</a>
    <a [routerLink]="['/register']" class="nav-link" *ngIf="!isAuthenticated">Register</a>
    <span class="fill-remaining-space"></span>
    <div *ngIf="currentUser | async as user">
        <span class="pointer-hand" 
        *ngIf="isAuthenticated" 
        matTooltip="Log out" 
        (click)="logOut()">Welcome {{ user?.firstName }}
    </span>
    </div>
    <a class="nav-link" *ngIf="!isAuthenticated" [routerLink]="['/login']">Log In</a>
</mat-toolbar>