<p>messages works!</p>

<div *ngIf="messages$ | async as messages; else loading">
    <mat-card class="example-card" style="margin: 8px;" *ngFor="let message of messages">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ message.owner }}'s message</mat-card-title>
        <mat-card-content>
            <p>
                {{ message.text }}
            </p>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #loading>
    Loading data...
</ng-template>