@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: #303030;
}

.control-center {
  display: block;
  margin-bottom: 20px;
  margin: 0 auto;

  &--width-50 {
    @extend .control-center;
    width: 50%;
  }
}